### Input And Output Methods
- reading the data or information from the user---***input()***  
    - static input  
    - dynamic input  
- displaying the information or data to the user---***print()***

In [1]:
a=20  
b=30
print(a)
print(b)

20
30

In [2]:
a=input()
a

santosh

'santosh'

In [3]:
a=input()
a

510

'510'

In [4]:
a=input("enter user value")
a

enter user value510

'510'

In [5]:
a=float(input("enter user value"))
a

enter user value510

510.0

In [6]:
a=input("enter value")
print(a)

enter value510
510

In [9]:
a=20
b=30
c=40
print(a,b,c)

20 30 40

In [10]:
a=20
b=30
c=40
print(a,b,c,sep=",",end="%")

20,30,40%

In [11]:
a=20
b=30
c=40
print(a,b,c,sep=",",end="\n")
print(c)

20,30,40
40

In [12]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

### generate the three values from the user , that values seperated with $ and end with %

In [18]:
z=input("enter a,b,c values")
print(a,b,c,sep="$",end="%")
print(a,b,c)

enter a,b,c values10 20 30
10 20 30$30$40%10 20 30 30 40

### OPERATORS
- Airthematic operators(+,-,*,**,/,//,%)  
    - output for the normal division is quotient  
    - output for the int division or floor division is integer part of the quotient  
    - output for the modulo division is reminder  
- Assignment operators(=)  
- Comparision operators(<,>,<=,>=,==)  
- Logical operators(and,or,not)  
- Bitwise operators(&,|,^)  
- Identity operators(is (==),isnot(!=)  
- Membership opeartors(in,notin)

### Airthematic Operators

In [19]:
a=10
b=20
print("addition",a+b)
print("subtraction",a-b)
print("multiplication",a*b)
print("power",a**b)
print("division",a/b)
print("int division or floor division",a//b)
print("modulo division",a%b)

addition 30
subtraction -10
multiplication 200
power 100000000000000000000
division 0.5
int division or floor division 0
modulo division 10

### Assignment Operators

- it is represented with =  
- leftside value of the operator(=)is called as a variable  
- rightside value if the variable(=)is called as value

In [46]:
a=20
b=59
print(a)
print(b)

20
59

### Comparision

In [20]:
if 2>9 and 2<=6:
    print("print true or false")
else:
    print("santosh")

santosh

In [21]:
2>=7

False

In [22]:
3<=5

True

### Logical Operators  
- and,or,not  
- if all the inputs are true output is true(and).  
- if any of the input is true the output is true(or).  
- opposite operation for the given one.

In [23]:
2<5 and 3>6

False

In [24]:
2>5 and 3<6

False

In [25]:
5>9 or 8<3

False

In [26]:
a=100
not a

False

In [27]:
4<5 or 8>2

True

In [28]:
4<5 and 8>2

True

### Bitwise Operators

In [31]:
2 & 3  
# 2- 0 0 1 0  
# 3- 0 0 1 1  
# ----------    
# - 0 0 1 0

2

In [30]:
3|4

7

In [32]:
2^3

1

In [33]:
2<<3

16

In [34]:
2>>3

0

### Identity Operators

In [35]:
a is 100 and a is not 100

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
C:\Users\Lab\AppData\Local\Temp/ipykernel_2084/3974128756.py:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  a is 100 and a is not 100
C:\Users\Lab\AppData\Local\Temp/ipykernel_2084/3974128756.py:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  a is 100 and a is not 100

False

In [36]:
a==100 and a!=100

False

### Membership Operator

In [37]:
s=[1,2,3,4,6,8,9]  
4 in s

True

In [38]:
10 not in s

True

In [39]:
2 not in s

False

In [43]:
a=45
# a+=1 --->a=a+1  
# a-=1 --->a=a-1  
# a*=1 --->a=a*1  
# a/=1 --->a=a/1

In [44]:
a

45

### Flow Control  
- conditional statements(if,else,elseif,nestedif)  
- Loops(for,while)  
- Break,Return

In [47]:
# c-Language  
if(condition){
    print(a)
}

SyntaxError: invalid syntax (Temp/ipykernel_2084/2051595515.py, line 2)

### Conditional Statements

In [ ]:
# if
if (condition):
    statement1
    statement2
    statement3
    ----------
    statementn

In [ ]:
# if-else
if (condition):
    statement1
    statement2
    statement3
    ----------
    statementn
else:
    statement1
    statement2
    ----------
    statementn

In [48]:
if 2>3:
    print("True")
else:
    print("False")

False

In [49]:
# given number is even or odd  
n=int(input("enter the number"))  
if(n%2==0):
    print("even number")
else:
    print("odd number")

enter the number10
even number

In [51]:
# given number is zero or positive or negitive 
n=int(input("enter value"))
if(n==0):
    print("Zero value")
elif(n>0):
    print("Positive value")
else:
    print("Negitive value")

enter value33
Positive value

In [54]:
# number is divisible by 2 but not divisible by 10 
a=23
if(a%2==0 and a%10!=0):  
    print("Valid number")
else:
    print("Invalid number")

Invalid number

### Range  
- syntax for the range is range(start,endvalue,step value)  
- starting value is inclusive and end value is exclusive

In [ ]:
range(10,20,1)
# 10,11,12,13,14,15,16,17,18,19  
range(20,30,2)
# 20,22,24,26,28  
range(20,41,5)  
# 20,25,30,35,40  
range(10)  
# consider as start value  
range(20,30)  
# consider start value and end value  
# reverse print  
range(10,1,-1)

In [55]:
list(range(10,20,1))

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [56]:
list(range(20,30,2))

[20, 22, 24, 26, 28]

In [57]:
list(range(20,41,5))

[20, 25, 30, 35, 40]

In [59]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [60]:
list(range(20,30))

[20, 21, 22, 23, 24, 25, 26, 27, 28, 29]

In [62]:
list(range(10,1,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2]

### LOOPS  
- for,while  
- for loop:::A for loop in python is a control flow statement that is used to repeatedly execute group of statements as long as the condition is satisfy.  
- Such a type of statement is also known as an iterative statement  
- Therefore,
- for loop is an iterative statement.

In [ ]:
syntax:::
    for iter in iterabale: # range predefined function in the position of iterable 
        statement1
        statement2
        statementn

In [63]:
for i in range(5):
    print(i)

0
1
2
3
4

In [64]:
for i in range(5):
    print(i,end=" ")

0 1 2 3 4

In [65]:
for i in range(5):
    print(i,end=",")

0,1,2,3,4,

In [67]:
for i in range(0,11,12):
    print(i,end=" ")

0

In [68]:
# print the even numbers in the range of 0 to 100  and print even number count  
c=0
for i in range(0,101,2):
    c=c+1
    print(i,end=" ")  
print("\n even number count:",c)

0 2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100
 even number count: 51

In [74]:
c=0
for i in range(0,101):
    if i%2==0:c=c+1
    print(i,end=" ")  
print("\n even number count:",c)

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100
 even number count: 51

In [73]:
# print leap years from the range of 2000 to 2020,print years count also  
x=int(input())
y=int(input())
c=0
for i in range(x,y+1):
    if(i%400==0) and (i%100!=0) or (i%4==0):
        c=c+1
        print(i,end=" ")
print("\n years count:",c)

2000
2020
2000 2004 2008 2012 2016 2020
 years count: 6

In [75]:
n=5
for i in range(1,11):
    print(n,"*",i,"=",n*1)

5 * 1 = 5
5 * 2 = 5
5 * 3 = 5
5 * 4 = 5
5 * 5 = 5
5 * 6 = 5
5 * 7 = 5
5 * 8 = 5
5 * 9 = 5
5 * 10 = 5

In [78]:
# print factors of five 
n=int(input())
for i in range(1,n+1):
    if(n%i==0):
        print(i,end=" ")

10
1 2 5 10

In [86]:
# I/P=aba  
# 97+98+97=292  
# O/P 292  
a=input()
s=0
for i in a:
    s=s+ord(i)
print(s)

ABC
198

In [87]:
# Check the given number is prime or not  
n=int(input())
c=0
for i in range(1,n+1):
    if(n%i==0):
        c=c+1
if(c==2):
    print("Prime Number")
else:
    print("Not Prime Number")

3
Prime Number

In [99]:
# print even and odd numbers from 0 to 10  
s=int(input())
e=int(input())
print("Even numbers are:",end=" ")
for i in range(s,e+1):
    if(i%2==0):
        print(i,end=" ")
print("\n Odd numbers are:",end=" ")
for i in range(s,e+1):
    if(i%2!=0):
        print(i,end=" ")

0
10
Even numbers are: 0 2 4 6 8 10
 Odd numbers are: 1 3 5 7 9